body {
	background-color: rgb(43, 43, 43);
	color: white;
}

.container {
	margin-top: 30px;
}

h1 {
	text-align: center;
}

div .row {
	margin-top: 20px;
	padding: 30px;
}
table {
	box-shadow: 0 0 10px black;
	border-radius: 10px;
}
tr {
	padding: 10px 0;
}
.amount input {
	width: 50px;
}

td button {
	background-color: red;
}

input {
	color: rgb(43, 43, 43);
}

form input,
form button {
	margin-right: 20px;
}
